<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-registration-heading" jhiTranslate="gtBeeApp.registration.home.createOrEditLabel">Create or edit a Registration</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!registration.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="registration.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gtBeeApp.registration.registrationCode" for="field_registrationCode">Registration Code</label>
                    <input type="text" class="form-control" name="registrationCode" id="field_registrationCode"
                        [(ngModel)]="registration.registrationCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gtBeeApp.registration.registrationDate" for="field_registrationDate">Registration Date</label>
                    <div class="d-flex">
                        <input id="field_registrationDate" type="datetime-local" class="form-control" name="registrationDate" [(ngModel)]="registrationDate" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gtBeeApp.registration.gTBactivity" for="field_gTBactivity">G T Bactivity</label>
                    <select class="form-control" id="field_gTBactivity" name="gTBactivity" [(ngModel)]="registration.gTBactivity" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gTBactivityOption.id === registration.gTBactivity?.id ? registration.gTBactivity : gTBactivityOption" *ngFor="let gTBactivityOption of gtbactivities; trackBy: trackGTBactivityById">{{gTBactivityOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
