<div>
    <h2 id="page-heading">
        <span jhiTranslate="gtBeeApp.gTBactivity.home.title">GT Bactivities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gt-bactivity" [routerLink]="['/gt-bactivity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gtBeeApp.gTBactivity.home.createLabel">
            Create new GT Bactivity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="gTBactivities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gtBeeApp.gTBactivity.activityName">Activity Name</span></th>
            <th><span jhiTranslate="gtBeeApp.gTBactivity.email">Email</span></th>
            <th><span jhiTranslate="gtBeeApp.gTBactivity.phoneNumber">Phone Number</span></th>
            <th><span jhiTranslate="gtBeeApp.gTBactivity.activityDate">Activity Date</span></th>
            <th><span jhiTranslate="gtBeeApp.gTBactivity.cost">Cost</span></th>
            <th><span jhiTranslate="gtBeeApp.gTBactivity.language">Language</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gTBactivity of gTBactivities ;trackBy: trackId">
                <td><a [routerLink]="['/gt-bactivity', gTBactivity.id, 'view' ]">{{gTBactivity.id}}</a></td>
                <td>{{gTBactivity.activityName}}</td>
                <td>{{gTBactivity.email}}</td>
                <td>{{gTBactivity.phoneNumber}}</td>
                <td>{{gTBactivity.activityDate | date:'medium'}}</td>
                <td>{{gTBactivity.cost}}</td>
                <td jhiTranslate="{{'gtBeeApp.Language.' + gTBactivity.language}}">{{gTBactivity.language}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/gt-bactivity', gTBactivity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gt-bactivity', gTBactivity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'gt-bactivity', { outlets: { popup: gTBactivity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
